<% if false %>
    <div class="tabbable tabbable-custom tabbable-full-width">
      <ul class="nav nav-tabs" style="float: right">
        <li class="active"><a href="#tab_1_1" data-toggle="tab">Votes</a></li>
        <li><a href="#tab_1_2" data-toggle="tab">Oldest</a></li>
        <li><a href="#tab_1_3" data-toggle="tab">Active</a></li>
      </ul>
      <div style="clear:both"></div>
      <div class="tab-content" style="padding-top: 0">

        <% Topic.all.each do |t| %>
            <%= render partial: 'topic', locals: {topic: t} %>
            <hr class='nomargin'>
        <% end %>
        <%#= render partial: 'links/form_with_wrapper' %>
      </div>


    </div>
<% end %>

<div class="tab-content">
  <div id="tab_1_4" class="tab-pane active">
    <!--<div class="row-fluid search-forms search-default">-->
      <!--<form class="form-search" action="#">-->
        <!--<div class="chat-form">-->
          <!--<div class="input-cont">-->
            <!--<input type="text" placeholder="Search... (doesn't work yet)" class="m-wrap">-->
          <!--</div>-->
          <!--<button type="button" class="btn green">Search &nbsp; <i class="m-icon-swapright m-icon-white"></i></button>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
    <a class="btn blue" href="<%= new_topic_path %>">New topic</a>
    <div class="clear"></div>
    <br/>

    <div class="portlet-body" style="display: block;">
      <table class="table table-striped table-bordered table-advance table-hover">

        <tbody>
            <% @topics.each do |topic| %>
            <tr>
              <td>
                <a href="<%= topic_path topic %>">
                  <span class="label label-default label-mini"><%= topic.total_votes %> votes</span>
                </a>
                <a href="<%= topic_path topic %>">
                  <span class="label label-default label-mini"><%= topic.links.count %> links</span>
                </a>
                <a href="<%= topic_path topic %>">
                  <span class="label label-default label-mini">? views</span></a>
              </td>
              <td><a href="<%= topic_path topic %>" class="violet"><%= topic.name %></a></td>
              <!--<td class="hidden-phone">-->
                <!--<%= truncate(topic.description, length: 60) %>-->
              <!--</td>-->

              <td style="text-align: right">
                <%= render partial: 'shared/userbox_mini', locals: {user: topic.user, created_at: topic.created_at} %>
              </td>
              <!--<td><a class="btn mini green-stripe" href="#">View</a></td>-->
            </tr>
        <% end %>
        <!--<tr>-->
          <!--<td>-->
            <!--<a href="#">-->
              <!--Smart House-->
            <!--</a>-->
          <!--</td>-->
          <!--<td class="hidden-phone">Office furniture purchase</td>-->
          <!--<td>5760.00$ <span class="label label-warning label-mini">Pending</span></td>-->
          <!--<td><a class="btn mini blue-stripe" href="#">View</a></td>-->
        <!--</tr>-->

        </tbody>
      </table>
    </div>
    <!--<div class="space5"></div>-->
    <!--<div class="pagination pagination-right">-->
      <!--<ul>-->
        <!--<li><a href="#">Prev</a></li>-->
        <!--<li><a href="#">1</a></li>-->
        <!--<li><a href="#">2</a></li>-->
        <!--<li class="active"><a href="#">3</a></li>-->
        <!--<li><a href="#">4</a></li>-->
        <!--<li><a href="#">5</a></li>-->
        <!--<li><a href="#">Next</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
</div>