<script type="text/javascript">
</script>

<!--<h3 class="page-title">-->
<!--New topic-->
<!--<small>submit a new topic</small>-->
<!--</h3>-->

<!--<br/>-->

<style>
    .page-title {
        margin: 5px 5px 5px 0;
    }

    .tabbable-custom.tabbable-full-width .nav-tabs > li > a {
        padding: 4px 14px;
    }

    .tabbable-custom.tabbable-full-width > .tab-content {
        padding: 7px 0;
    }
</style>

<br/>
<h1 class="page-title topic-title" style="line-height: 34px"><%= @topic.name %></h1>

<div class="tabbable tabbable-custom tabbable-full-width">
  <div style="clear:both"></div>
  <%= render partial: 'topics/topic', locals: {topic: @topic} %>
</div>

<h2 style="float: left;line-height: 24px;padding: 0;margin: 0 0 5px 0;font-size: 22px">
  <%= @topic.links.count %> links
</h2>

<div class="tabbable tabbable-custom tabbable-full-width">
  <ul class="nav nav-tabs" style="float: right">
    <li class="active"><a href="#tab_1_1" data-toggle="tab">Votes</a></li>
    <li><a href="#tab_1_2" data-toggle="tab">Oldest</a></li>
    <li><a href="#tab_1_3" data-toggle="tab">Active</a></li>
  </ul>
  <div style="clear:both"></div>
  <div class="tab-content">
    <% if @topic.links.empty? %>
        <p class="alert alert-info">This topic doesn't have any links yet</p>
    <% end %>
    <%= render partial: 'links/links', locals: {links: @topic.links_sorted_by_vote} %>
    <%= render partial: 'links/form_with_wrapper' %>
  </div>
</div>
