<script type="text/javascript">
    $(function () {
        var converter = new Attacklab.showdown.converter();
        $('.markdown').each(function () {
            var html = converter.makeHtml($(this).text());
            $(this).html(html)
        })
    });
</script>

<!--<h3 class="page-title">-->
<!--New topic-->
<!--<small>submit a new topic</small>-->
<!--</h3>-->

<!--<br/>-->

<h1 class="page-title"><%= @topic.name %></h1>

<div class="portlet box blue tabbable">
  <div class="portlet-title">
    <h4>
      <i class="icon-reorder"></i>
      <span class="hidden-480"><%= @topic.name %></span>
      &nbsp;
    </h4>
  </div>
  <div class="portlet-body form">
    <div class="tabbable portlet-tabs">
      <ul class="nav nav-tabs">
        <li><a href="#portlet_tab3" data-toggle="tab">Edit</a></li>
        <li><a href="#portlet_tab2" data-toggle="tab">Help</a></li>
        <li class="active"><a href="#portlet_tab1" data-toggle="tab"><%= @topic.name %></a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="portlet_tab1">
          <!-- BEGIN FORM-->
          <div class='markdown' class='span12 wmd-preview'>
            <%= @topic.description %>
          </div>
          <% if false %>
              <%= simple_form_for(@topic,
                                  :html => {:class => 'form-horizontal'}) do |f| %>
                  <%= f.input :name, label: 'Title', input_html: {class: 'span12'} %>

                  <div class="control-group">
                    <label class="control-label"></label>

                    <div class="controls">
                      <%= f.text_area :description, class: 'span12 m-wrap wmd-input', id: 'my_wmd', rows: '6' %>
                      <!--<textarea class="span12 m-wrap wmd-input" id='my_wmd' rows="6"></textarea>-->
                    </div>
                  </div>

                  <div class="form-actions">
                    <%= button_tag(type: 'submit', class: "btn blue") do %>
                        <i class="icon-ok"></i> Create</button>
                    <% end %>

                    <a href='<%= url_for :back %>' class='btn'>
                      Cancel
                    </a>


                    <!--<button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>-->
                    <!--<button type="button" class="btn">Cancel</button>-->
                  </div>

              <% end %>
          <% end %>
          <!-- END FORM-->
        </div>

        <div class="tab-pane" id="portlet_tab2">
          Help soon
        </div>


      </div>
    </div>
  </div>
</div>

<%= render partial: 'links/links', locals: {links: Link.all} %>
<%= render partial: 'links/form', locals: {link: Link.new} %>