<%= simple_form_for(@link || Link.new,
                    html: {class: 'form-inline ajaxForm'},
                    remote: true) do |f| %>

    <%= f.hidden_field :topic_id, value: @topic.id %>

    <div class="row-fluid">
      <div class="span6 ">
        <%= f.input :name, label: 'Link name', input_html: {class: 'm-wrap span12', placeholder: 'name'} %>
        <!--<div class="control-group">-->
        <!--<label class="control-label" for="firstName">First Name</label>-->

        <!--<div class="controls">-->
        <!--<input type="text" id="firstName" class="m-wrap span12" placeholder="Chee Kin">-->
        <!--&lt;!&ndash;<span class="help-block">This is inline help</span>&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
      </div>
      <!--/span-->
      <div class="span6 ">
        <%= f.input :href, label: 'href', input_html: {class: 'm-wrap span12', placeholder: 'http://'} %>
        <!--<div class="control-group error">-->
        <!--<label class="control-label" for="lastName">Last Name</label>-->

        <!--<div class="controls">-->
        <!--<input type="text" id="lastName" class="m-wrap span12" placeholder="Lim">-->
        <!--&lt;!&ndash;<span class="help-block">This field has error.</span>&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
      </div>
      <!--/span-->
    </div>


    <div class="control-group">
      <!--<label class="control-label"></label>-->

      <div class="controls">
        <%= f.text_area :description, placeholder: 'Short explanation of what the content is about',
                        class: 'span12 m-wrap wmd-input', id: 'my_wmd', rows: '4' %>
      </div>
    </div>
    <div class="form-actions">
      <%= button_tag(type: 'submit', class: "btn blue") do %>
          <i class="icon-ok"></i> Create
      <% end %>

      <a href='<%= url_for :back %>' class='btn'>
        Cancel
      </a>
    </div>
<% end %>