<% link ||= Link.new %>

<div class="row-fluid link votable" id="link-<%= link.id %>" data-id='<%= link.id %>' data-type='<%= link.class.name %>'>
  <div class="booking-blocks" style="overflow: visible">
    <%= render partial: 'links/vote', locals: {votable: link} %>
    <div style="overflow:hidden;">
      <div class="votable-content">
        <h2 style="font-weight: 500">
          <a rel='nofollow' href="<%= link.href_with_protocol %>" class="link-link"><%= link.name %></a>
          <!--<span class="grey">Hello world</span>-->
        </h2>

        <p class='markdown link-description'><%= link.description %>
        </p>
        <%= render partial: 'shared/userbox', locals: {user: link.user, created_at: link.created_at} %>
        <%= render partial: 'shared/action_links', locals: {votable: link} %>
      </div>
      <div class="votable-form-container" data-url="<%= form_link_path(link) %>" style="overflow: hidden"></div>
      <div style="clear:both"></div>
      <%= render partial: 'comments/comments', locals: {post: link} %>
    </div>
  </div>
</div>