<% link ||= Link.new %>

<div class="row-fluid link" id="link-<%= link.id %>" data-id='<%= link.id %>'>
  <div class="booking-blocks">
    <%= render partial: 'links/vote', locals: {votable: link} %>
    <!--<img src="/assets/img/gallery/image4.jpg" alt="">-->
    <div style="overflow:hidden;">
      <h2 style="font-weight: 500">
        <a rel='nofollow' href="<%= link.href_with_protocol %>"><%= link.name %></a>
      </h2>
      <!--<ul class="unstyled inline">-->
      <!--<li><i class="icon-star"></i></li>-->
      <!--<li><i class="icon-star"></i></li>-->
      <!--<li><i class="icon-star"></i></li>-->
      <!--<li><i class="icon-star"></i></li>-->
      <!--<li><i class="icon-star-empty"></i></li>-->
      <!--</ul>-->
      <p class='markdown'><%= link.description %>
        <!--<a href="#">read more</a>-->
      </p>

      <div style="color: #777;" class='edit-links'>
        <a href="javascript:;"><i class="icon-pencil" style="color: #78ccf8"></i> Edit</a> |
        <a href="javascript:;"><i class="icon-map-marker" style="color: #78ccf8"></i> Another action</a> |
        <a href="javascript:;"><i class="icon-map-marker" style="color: #78ccf8"></i> End</a>
      </div>
    </div>
  </div>
</div>
<hr class='nomargin'>