<div class="navbar hor-menu hidden-phone hidden-tablet">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="visible-phone visible-tablet">
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <form class="sidebar-search">
          <div class="input-box">
            <a href="javascript:;" class="remove"></a>
            <input type="text" placeholder="Search..."/>
            <input type="button" class="submit" value=" "/>
          </div>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
      </li>
      <li class="<%= 'active' if @params[:controller] == 'topics' %>">
        <a href="<%= root_path %>">
          Topics
          <% if @params[:controller] == 'topics' %>
              <span class="selected"></span>
          <% end %>
        </a>
      </li>
      <li class="<%= 'active' if @params[:controller] == 'abouts' %>">
        <a href="<%= about_path %>">
        ¿ WTF ?
        <% if @params[:controller] == 'abouts' %>
            <span class="selected"></span>
        <% end %>
      </a>
      </li>
      <li class="<%= 'active' if @params[:controller] == 'users' %>">
        <a href="<%= users_path %>">
        Users
        <% if @params[:controller] == 'users' %>
            <span class="selected"></span>
        <% end %>
      </a>
      </li>
      <li>
        <a href="#">
        Empty topics
        <% if false %>
            <span class="selected"></span>
        <% end %>
      </a>
      </li>
      <% if false %>
          <li>
            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
              UI Features
              <span class="arrow"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="horizontal_menu1.html">Full Width Page</a></li>
              <li><a href="horizontal_menu2.html">Sidebar Tools</a></li>
              <li><a href="index.html">Option 3</a></li>
              <li><a href="index.html">Option 4</a></li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="javascript:;">
                  More options
                  <span class="arrow"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Second level link</a></li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="javascript:;">More options<span class="arrow"></span></a>
                    <ul class="dropdown-menu">
                      <li><a tabindex="-1" href="index.html">Third level link</a></li>
                      <li><a tabindex="-1" href="index.html">Third level link</a></li>
                      <li><a tabindex="-1" href="index.html">Third level link</a></li>
                      <li><a tabindex="-1" href="index.html">Third level link</a></li>
                      <li><a tabindex="-1" href="index.html">Third level link</a></li>
                    </ul>
                  </li>
                  <li><a tabindex="-1" href="index.html">Second level link</a></li>
                  <li><a tabindex="-1" href="index.html">Second level link</a></li>
                  <li><a tabindex="-1" href="index.html">Second level link</a></li>
                </ul>
              </li>
            </ul>
            <b class="caret-out"></b>
          </li>
          <li>
            <a data-toggle="dropdown" class="dropdown-toggle" href="">Extra
              <span class="arrow"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="index.html">About Us</a></li>
              <li><a href="index.html">Services</a></li>
              <li><a href="index.html">Pricing</a></li>
              <li><a href="index.html">FAQs</a></li>
              <li><a href="index.html">Gallery</a></li>
              <li><a href="index.html">Registration</a></li>
              <li><a href="index.html">2 Columns (Left)</a></li>
              <li><a href="index.html">2 Columns (Right)</a></li>
            </ul>
            <b class="caret-out"></b>
          </li>
      <% end %>
      <!--<li>-->
      <!--<span class="hor-menu-search-form-toggler">&nbsp;</span>-->

      <!--<div class="search-form hidden-phone hidden-tablet">-->
      <!--<form class="form-search">-->
      <!--<div class="input-append">-->
      <!--<input type="text" placeholder="Search..." class="m-wrap">-->
      <!--<button type="button" class="btn"></button>-->
      <!--</div>-->
      <!--</form>-->
      <!--</div>-->
      <!--</li>-->
    </ul>
  </div>
</div>