<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
  <meta charset="utf-8"/>
  <title>Quicksort</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <%= render partial: 'layouts/stylesheets_includes' %>
  <!-- BEGIN PAGE LEVEL STYLES -->
  <link href="/assets/css/pages/error.css" rel="stylesheet" type="text/css"/>
  <!-- END PAGE LEVEL STYLES -->
  <link rel="shortcut icon" href="favicon.ico"/>

  <!--<script src="/assets/plugins/jquery-1.8.3.min.js" type="text/javascript"></script>-->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="fixed-top" id="body">
<div class="header navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= render partial: 'layouts/logo' %>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
            <%= render partial: 'layouts/notification_dropdown' %>
            <%= render partial: 'layouts/inbox_dropdown' %>
            <%= render partial: 'layouts/todo_dropdown' %>
            <%= render partial: 'layouts/login_dropdown' %>
        <% else %>
            <li>
              <a href='<%= new_user_session_path %>'>Login</a>
            </li>
            <li>
              <a href='<%= new_user_registration_path %>'>Register</a>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="page-container row-fluid">
  <div class="page-sidebar nav-collapse collapse">
    <%= render partial: 'layouts/sidebar_menu' %>
  </div>
  <div class="page-content">
    <div class="container-fluid">
      <%= render partial: 'shared/flash_messages' %>
      <%= yield %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
<%= render 'layouts/javascripts_includes' %>
</body>
</html>
